pkgbase = mpnotd-zsh
	pkgdesc = MPD Notifcation Daemon
	pkgver = 0.2
	pkgrel = 2
	url = https://github.com/jeffmhubbard/mpnotd-zsh
	arch = any
	license = MIT
	depends = zsh
	depends = mpc
	depends = curl
	depends = jq
	depends = imagemagick
	depends = libnotify
	optdepends = cava: change cava colors
	optdepends = feh: floating cover art
	conflicts = mpnotd-git
	source = https://github.com/jeffmhubbard/mpnotd-zsh/archive/v0.2.tar.gz
	md5sums = eb79272decb4824eaac2aa88e8f31eae

pkgname = mpnotd-zsh

