pkgbase = blackout-gtk-theme
	pkgdesc = Darkness falls upon the Linux desktop with this totally out-of-the-80's CLI-like GTK theme
	pkgver = r19.51532e0
	pkgrel = 2
	url = https://github.com/B00merang-Project/B00merang-Blackout
	arch = any
	license = GPL3
	makedepends = git
	depends = gtk2
	depends = gtk3
	depends = gtk-engine-murrine
	depends = gnome-themes-extra
	source = git+https://github.com/B00merang-Project/B00merang-Blackout.git
	md5sums = SKIP

pkgname = blackout-gtk-theme

