[submodule "qt5-styleplugins"]
	path = qt5-styleplugins
	url = https://aur.archlinux.org/qt5-styleplugins
[submodule "xob"]
	path = xob
	url = https://aur.archlinux.org/xob
[submodule "unclutter-xfixes-git"]
	path = unclutter-xfixes-git
	url = https://aur.archlinux.org/unclutter-xfixes-git
[submodule "nerd-fonts-hack"]
	path = nerd-fonts-hack
	url = https://aur.archlinux.org/nerd-fonts-hack
[submodule "xcursor-openzone"]
	path = xcursor-openzone
	url = https://aur.archlinux.org/xcursor-openzone
[submodule "awesome-freedesktop-git"]
	path = awesome-freedesktop-git
	url = https://aur.archlinux.org/awesome-freedesktop-git
[submodule "aurutils"]
	path = aurutils
	url = https://aur.archlinux.org/aurutils
[submodule "xininfo-git"]
	path = xininfo-git
	url = https://aur.archlinux.org/xininfo-git
[submodule "tuir"]
	path = tuir
	url = https://aur.archlinux.org/tuir
[submodule "shellcheck-bin"]
	path = shellcheck-bin
	url = https://aur.archlinux.org/shellcheck-bin
[submodule "resvg-cairo"]
	path = resvg-cairo
	url = https://aur.archlinux.org/resvg-cairo
[submodule "oomox"]
	path = oomox
	url = https://aur.archlinux.org/oomox
[submodule "gcalcli"]
	path = gcalcli
	url = https://aur.archlinux.org/gcalcli
[submodule "no-more-secrets"]
	path = no-more-secrets
	url = https://aur.archlinux.org/no-more-secrets
[submodule "luacheck"]
	path = luacheck
	url = https://aur.archlinux.org/luacheck
