[submodule "qt5-styleplugins"]
	path = qt5-styleplugins
	url = https://aur.archlinux.org/qt5-styleplugins
[submodule "xob"]
	path = xob
	url = https://aur.archlinux.org/xob
[submodule "unclutter-xfixes-git"]
	path = unclutter-xfixes-git
	url = https://aur.archlinux.org/unclutter-xfixes-git
[submodule "nerd-fonts-hack"]
	path = nerd-fonts-hack
	url = https://aur.archlinux.org/nerd-fonts-hack
[submodule "xcursor-openzone"]
	path = xcursor-openzone
	url = https://aur.archlinux.org/xcursor-openzone
[submodule "awesome-freedesktop-git"]
	path = awesome-freedesktop-git
	url = https://aur.archlinux.org/awesome-freedesktop-git
[submodule "aurutils"]
	path = aurutils
	url = https://aur.archlinux.org/aurutils
