[submodule "qt5-styleplugins"]
	path = qt5-styleplugins
	url = https://aur.archlinux.org/qt5-styleplugins
[submodule "unclutter-xfixes-git"]
	path = unclutter-xfixes-git
	url = https://aur.archlinux.org/unclutter-xfixes-git
[submodule "nerd-fonts-hack"]
	path = nerd-fonts-hack
	url = https://aur.archlinux.org/nerd-fonts-hack
[submodule "aurutils"]
	path = aurutils
	url = https://aur.archlinux.org/aurutils
[submodule "tuir"]
	path = tuir
	url = https://aur.archlinux.org/tuir
[submodule "shellcheck-bin"]
	path = shellcheck-bin
	url = https://aur.archlinux.org/shellcheck-bin
[submodule "resvg-cairo"]
	path = resvg-cairo
	url = https://aur.archlinux.org/resvg-cairo
[submodule "oomox"]
	path = oomox
	url = https://aur.archlinux.org/oomox
[submodule "gcalcli"]
	path = gcalcli
	url = https://aur.archlinux.org/gcalcli
[submodule "luacheck"]
	path = luacheck
	url = https://aur.archlinux.org/luacheck
[submodule "awesome-git"]
	path = awesome-git
	url = https://aur.archlinux.org/awesome-git
[submodule "cava"]
	path = cava
	url = https://aur.archlinux.org/cava
[submodule "gitea-tea"]
	path = gitea-tea
	url = https://aur.archlinux.org/gitea-tea
[submodule "nerd-fonts-source-code-pro"]
	path = nerd-fonts-source-code-pro
	url = https://aur.archlinux.org/nerd-fonts-source-code-pro
