# BUILD_VARS

# architecture to build for (required)
out_arch="x86_64"

# name of repo database (required)
out_db="penguin"

# path to repo database (required)
out_dir="$HOME/Packages/$out_db/$out_arch"

# pacman conf for chroot (required) (must include penguin repo)
build_cfg="$(pwd)/pacman-chroot.conf"

# build lists (required for --all, order matters)
build_lists=('packages-aur' 'packages-xapps' 'packages-themes' 'packages-core')

# GPG key to sign packages (required)
gpg_key="<key>"

# base url to AUR
aur_url=https://aur.archlinux.org

# list of AUR packages to build (default for --fetch)
aur_list=packages-aur.txt

# push and sync packages to remote host
publish=true

# login on remote host
publish_login="user@host"

# path on remote host
publish_dir="/path/to/www/$out_arch"
