pkgbase = penguin-desktop
	pkgdesc = The Penguin Project
	pkgver = 3
	pkgrel = 1
	url = https://penguin.fyi/
	arch = any
	license = MIT
	source = autostart-numlockx
	source = autostart-pcmanfm
	source = autostart-picom
	source = autostart-polkit
	source = autostart-unclutter
	source = autostart-user-dirs
	source = patch-lightdm-gtk-greeter.conf
	source = LICENSE
	source = penguin-desktop.install
	source = README.md
	md5sums = 46868ac0617a4fbdfc308cc884d1f037
	md5sums = 752af9301a1fea60bb20f6979d272861
	md5sums = 3f9e6a050a80a07a29494117dce2d3de
	md5sums = 6529d3ddd2c2a6dff2845c57807ff058
	md5sums = 274e6a795ae6d5c77f7d4f61707cb113
	md5sums = 1797448eebfde434e6a796f5146342fe
	md5sums = 2432e56f71823c95c6711c1634ab8005
	md5sums = a55d1384569349075b5a6a5c61af5c17
	md5sums = 7c47a6806061ccae3f5484973a00a0c6
	md5sums = dcb2d3a290de695f4b4a4605a1608110

pkgname = penguin-desktop
	pkgdesc = The complete Penguin Desktop
	install = penguin-desktop.install
	depends = penguin-desktop-base
	depends = penguin-desktop-dotfiles
	depends = penguin-desktop-extras
	depends = penguin-desktop-themes

pkgname = penguin-desktop-base
	pkgdesc = Penguin Desktop software
	depends = alacritty
	depends = awesome-git
	depends = awesome-freedesktop-git
	depends = blueman
	depends = fontconfig
	depends = dex
	depends = feh
	depends = ffmpeg
	depends = gvfs
	depends = htop
	depends = imagemagick
	depends = lightdm
	depends = lightdm-gtk-greeter
	depends = lightdm-gtk-greeter-settings
	depends = light-locker
	depends = lxappearance-gtk3
	depends = mailcap
	depends = mpc
	depends = mpd
	depends = mpv
	depends = ncmpcpp
	depends = neomutt
	depends = netsurf
	depends = network-manager-applet
	depends = newsboat
	depends = numlockx
	depends = pasystray
	depends = pavucontrol
	depends = pcmanfm-gtk3
	depends = picom
	depends = polkit-gnome
	depends = pulseaudio
	depends = pulseaudio-alsa
	depends = qt5ct
	depends = qt5-styleplugins
	depends = qutebrowser
	depends = ranger
	depends = rofi
	depends = tuir
	depends = unclutter-xfixes-git
	depends = urlscan
	depends = weechat
	depends = xarchiver
	depends = xclip
	depends = xdg-user-dirs
	depends = xdg-utils
	depends = xfce4-power-manager
	depends = xorg-server
	depends = xorg-xset
	depends = xorg-xsetroot
	depends = xorg-xrdb
	depends = xorg-xrandr
	depends = xorg-xdpyinfo
	depends = xterm
	depends = zathura
	depends = zathura-pdf-mupdf
	depends = bash-completion
	depends = zsh-autosuggestions
	depends = zsh-completions
	depends = zsh-syntax-highlighting

