pkgbase = penguin-desktop
	pkgdesc = The Penguin Desktop
	pkgver = 15
	pkgrel = 2
	url = https://penguin.fyi/
	arch = any
	license = MIT
	depends = arandr
	depends = avahi
	depends = awesome-git
	depends = bash-completion
	depends = blueman
	depends = bluez-utils
	depends = cups
	depends = dex
	depends = firefox
	depends = fontconfig
	depends = galculator
	depends = gparted
	depends = gst-libav
	depends = gufw
	depends = gvfs
	depends = gvfs-smb
	depends = kitty
	depends = lightdm
	depends = lightdm-gtk-greeter
	depends = lightdm-gtk-greeter-settings
	depends = light-locker
	depends = lxtask-gtk3
	depends = network-manager-applet
	depends = numlockx
	depends = pamac-aur-git
	depends = pavucontrol
	depends = pcmanfm-gtk3
	depends = penguin-desktop-awesome
	depends = penguin-desktop-config
	depends = penguin-desktop-themes
	depends = picom
	depends = pipewire
	depends = pipewire-alsa
	depends = pipewire-pulse
	depends = playerctl
	depends = polkit-gnome
	depends = rofi
	depends = rofi-pass
	depends = system-config-printer
	depends = thunderbird
	depends = udiskie
	depends = unclutter
	depends = volumeicon
	depends = weechat
	depends = xdg-user-dirs-gtk
	depends = xdg-utils
	depends = xed
	depends = xorg-xdpyinfo
	depends = xorg-server
	depends = xorg-xset
	depends = xorg-xrdb
	depends = xorg-xrandr
	depends = xplayer
	depends = xplayer-plparser
	depends = xreader
	depends = xsettingsd
	depends = xterm
	depends = xviewer
	depends = zsh-autosuggestions
	depends = zsh-completions
	depends = zsh-syntax-highlighting
	source = autostart-numlockx
	source = autostart-pcmanfm
	source = autostart-picom
	source = autostart-polkit-gnome
	source = autostart-udiskie
	source = autostart-unclutter
	source = autostart-volumeicon
	source = penguin-desktop.install
	source = xsession-awesome-default
	source = LICENSE
	source = README.md
	md5sums = c199c9b4e5f5d1732136b661fb41d065
	md5sums = b38d83c4be456823ea6e438d668792ab
	md5sums = ff2e59135f736a3ddb059877bf0056a2
	md5sums = 527dc640676cffe1c12e560cdceefa38
	md5sums = ea96caee4c180370818cbc8361d17f0e
	md5sums = 5343c3272d3c2b8b10b557eb12df84da
	md5sums = 6a7cd28a4ce7c7a40632840744f135e9
	md5sums = 14b842989b890c444c2872b3a1e9821e
	md5sums = ed90137b894837697c3f635a0dbdc1fe
	md5sums = 32faed122940835fb3401d601b2d1e85
	md5sums = 872b54b4c48a4cfbfec06be7d53036f4

pkgname = penguin-desktop
	install = penguin-desktop.install
