pkgbase = system78-gtk-theme
	pkgdesc = Penguin System78 theme
	pkgver = 0.1
	pkgrel = 2
	url = https://github.com/jeffmhubbard/system78-gtk-theme
	arch = any
	license = MIT
	depends = gtk-engine-murrine
	source = https://github.com/jeffmhubbard/system78-gtk-theme/archive/refs/tags/v0.1.tar.gz
	sha256sums = acf839fde54c0f66239afc9d01a6477f3c58e6dd9bcf0f453cef45b8db266533

pkgname = system78-gtk-theme
