pkgbase = system78-gtk-theme
	pkgdesc = System78 GTK Theme
	pkgver = 0.2
	pkgrel = 1
	url = https://github.com/jeffmhubbard/system78-gtk-theme
	arch = any
	license = MIT
	depends = gtk-engine-murrine
	source = https://github.com/jeffmhubbard/system78-gtk-theme/archive/refs/tags/v0.2.tar.gz
	sha256sums = f862c5277e514ca39f01547ff181aa95067eb391f98b29b13febca3369e8db3b

pkgname = system78-gtk-theme
