pkgbase = ngui-pink-gtk-theme
	pkgdesc = nGUI-Pink GTK theme
	pkgver = 0.1
	pkgrel = 1
	url = https://github.com/penguin-fyi/ngui-pink-gtk-theme
	arch = any
	license = MIT
	depends = gtk-engine-murrine
	source = https://github.com/penguin-fyi/ngui-pink-gtk-theme/archive/refs/tags/v0.1.tar.gz
	sha256sums = e83e71303624279f9c2e42e29a146c019c655d10c3362298cb85f3855c9e2fb9

pkgname = ngui-pink-gtk-theme
