pkgbase = penguin-laptop-tools
	pkgdesc = Extra tools for laptops
	pkgver = 1
	pkgrel = 1
	url = https://penguin.fyi/
	arch = any
	license = MIT
	depends = tlp
	depends = tlpui
	depends = cbatticon
	source = autostart-batteryicon
	source = LICENSE
	source = README.md
	md5sums = 96254d6d589149d870a59e4b6906c8d8
	md5sums = a55d1384569349075b5a6a5c61af5c17
	md5sums = 8d64301d25b9c93e6934638b38149a80

pkgname = penguin-laptop-tools
