pkgbase = ngui-green-gtk-theme
	pkgdesc = nGUI-Green GTK theme
	pkgver = 0.1
	pkgrel = 1
	url = https://github.com/penguin-fyi/ngui-green-gtk-theme
	arch = any
	license = MIT
	depends = gtk-engine-murrine
	source = https://github.com/penguin-fyi/ngui-green-gtk-theme/archive/refs/tags/v0.1.tar.gz
	sha256sums = 464d4506e60e4a3e0049861911b10253b792792e9f868879455ddd146d796099

pkgname = ngui-green-gtk-theme
