pkgbase = xreader
	pkgdesc = Document viewer for files like PDF and Postscript. X-Apps Project.
	pkgver = 3.3.0
	pkgrel = 2
	url = https://github.com/linuxmint/xreader
	arch = x86_64
	arch = aarch64
	groups = x-apps
	license = GPL
	makedepends = meson
	makedepends = samurai
	makedepends = intltool
	makedepends = itstool
	makedepends = gobject-introspection
	makedepends = djvulibre
	makedepends = libgxps
	makedepends = libspectre
	makedepends = texlive-bin
	depends = poppler-glib
	depends = webkit2gtk
	depends = xapps
	optdepends = djvulibre: support for djvu files
	optdepends = libgxps: support for xps files
	optdepends = libspectre: support for dvi and ps files
	optdepends = mathjax2: support for math in epub files
	optdepends = texlive-bin: support for dvi files
	source = https://github.com/linuxmint/xreader/archive/3.3.0/xreader-3.3.0.tar.gz
	sha256sums = cd347ce2c4d655adc296c25d475250a688921af6a54581bcf10e279276197e54
	b2sums = 4194a002eba3a903db574e66478cbd5d551e37e99f278d0e0fd3d8981c33ee7fad729a47554c54f098b5fba9bdf93245f876a15e6f13441ac38d0e54e14dc77c

pkgname = xreader
