pkgbase = termina-gtk-theme
	pkgver = r33.a496d1a
	pkgrel = 1
	url = https://github.com/B00merang-Project/Termina
	arch = any
	license = GPL3
	makedepends = git
	source = git+https://github.com/B00merang-Project/Termina.git
	md5sums = SKIP

pkgname = termina-gtk-theme

