pkgbase = penguin-desktop-dotfiles
	pkgdesc = Penguin Desktop custom config files
	pkgver = r11.35b642e
	pkgrel = 1
	url = https://penguin.fyi
	arch = any
	license = MIT
	makedepends = git
	depends = penguin-desktop-base
	source = git+https://git.linuxit.us/penguin/desktop-dotfiles.git
	md5sums = SKIP

pkgname = penguin-desktop-dotfiles
