pkgbase = penguin-system
	pkgdesc = The Penguin Project
	pkgver = 13
	pkgrel = 4
	url = https://penguin.fyi/
	arch = any
	license = MIT
	source = autostart-numlockx
	source = autostart-pcmanfm
	source = autostart-picom
	source = autostart-polkit
	source = autostart-unclutter
	source = autostart-update-notify
	source = autostart-user-dirs
	source = config-alacritty
	source = config-awesome
	source = config-awesome-theme
	source = config-dircolors
	source = config-gtk2
	source = config-gtk3
	source = config-picom
	source = config-qt5ct
	source = config-qutebrowser
	source = config-pcmanfm
	source = config-roficonfig
	source = config-rofitheme
	source = config-sudoers
	source = config-tmuxconf
	source = config-vimrc
	source = config-xresources
	source = config-xsession
	source = config-zshrc
	source = config-zshrc-prompt
	source = LICENSE
	source = patch-grub-distro
	source = patch-issue-ascii
	source = patch-lightdm-gtk-greeter.conf
	source = patch-makepkg.conf
	source = patch-pacman.conf
	source = patch-reflector.conf
	source = patch-useradd-shell
	source = penguin-base.install
	source = penguin-config-patch.hook
	source = penguin-config-patch.sh
	source = penguin-desktop.install
	source = README.md
	source = script-screen-capture
	source = script-touchpad-toggle
	source = script-update-notify
	md5sums = 46868ac0617a4fbdfc308cc884d1f037
	md5sums = 752af9301a1fea60bb20f6979d272861
	md5sums = 3f9e6a050a80a07a29494117dce2d3de
	md5sums = 6529d3ddd2c2a6dff2845c57807ff058
	md5sums = 274e6a795ae6d5c77f7d4f61707cb113
	md5sums = 41fe7b2595064d3b2b8f595b286f125b
	md5sums = 1797448eebfde434e6a796f5146342fe
	md5sums = d07c37d05a9bb5a89571ffa492bcd9bf
	md5sums = 06a6e487d21c72734e63b4be77c81545
	md5sums = e07fb74fa812b198d32231ad49224ee6
	md5sums = c198d7a057d3d5c5693932dd21243072
	md5sums = 2e99a6c2744cdcbe1075741806d6c62f
	md5sums = 1e4de6dbb641a532f47a62b8c4c76e68
	md5sums = 0c86433ee520ae3e4e3b62d46eafe7a7
	md5sums = 5c45a57289ab8192700ce374e94cad7a
	md5sums = 2c8fc63a49c9e475702818ad3896e006
	md5sums = 8d00616d31a7140a2f3b79ff22ed7201
	md5sums = 0229e09989d77e36316c52581fb7601d
	md5sums = e45b4d51fb03251cc73bcfeb9a249163
	md5sums = 25b151ccac832c4b8333222106d16b8c
	md5sums = 117c57a1559599e1dababc55225a7bca
	md5sums = 0fc658d739f01daaa3c8c4043899db0a
	md5sums = 0ccbe35969f73c9bc670ce6e715f36b6
	md5sums = 99f6653f7007d98c8978024c10bb5660
	md5sums = 9100f9f66e5ea94dddc62227af839912
	md5sums = 7a22d5e966e64053fc4307c105431502
	md5sums = a55d1384569349075b5a6a5c61af5c17
	md5sums = 41440c82d4b6c2d64e496ad4a1782778
	md5sums = 044f00bcb352b273e841ecbf3836b705
	md5sums = 2432e56f71823c95c6711c1634ab8005
	md5sums = c982fab7e21e835cfd6848f86657a22f
	md5sums = 257f3fd773cfac35ed40e2d5f885a72f
	md5sums = 08776fecbc01ca790ca20838943b0897
	md5sums = 79c690fc4d1faf1aa317cbe68246097f
	md5sums = 65800f60c55f2bdd4152b9c7003c045e
	md5sums = 08e127a575cc08cab68ed069a86cf5d6
	md5sums = cdb56c7933f12c4b69180abba141ab5d
	md5sums = 7c47a6806061ccae3f5484973a00a0c6
	md5sums = fc439b5e6c1d7fbe5b30d1030c454ffc
	md5sums = c73c5fa56f6bd1ad6b4e0b5ee90ccd6e
	md5sums = 41ddb2af63897120737119aaf45c9485
	md5sums = eb25c430d8816615d9d0f0e23aac19d2

pkgname = penguin-base
	pkgdesc = Penguin base system
	install = penguin-base.install
	depends = base
	depends = linux-firmware
	depends = grub
	depends = efibootmgr
	depends = tlp
	depends = networkmanager
	depends = openssh
	depends = ufw
	depends = fail2ban
	depends = reflector
	depends = zsh
	depends = vim
	depends = vi
	depends = curl
	depends = tmux
	depends = git
	depends = patch
	depends = sudo
	depends = man-db
	depends = man-pages
	depends = w3m

pkgname = penguin-desktop
	pkgdesc = Penguin desktop software
	install = penguin-desktop.install
	depends = penguin-base
	depends = xorg-server
	depends = xorg-xset
	depends = xorg-xsetroot
	depends = xorg-xrdb
	depends = xorg-xrandr
	depends = xorg-xdpyinfo
	depends = lightdm
	depends = lightdm-gtk-greeter
	depends = lightdm-gtk-greeter-settings
	depends = light-locker
	depends = awesome-git
	depends = awesome-freedesktop-git
	depends = dex
	depends = xdg-user-dirs
	depends = xdg-utils
	depends = pcmanfm-gtk3
	depends = gvfs
	depends = xarchiver
	depends = picom
	depends = rofi
	depends = rofi-pass
	depends = xclip
	depends = numlockx
	depends = network-manager-applet
	depends = blueman
	depends = polkit-gnome
	depends = xfce4-power-manager
	depends = pulseaudio
	depends = pulseaudio-alsa
	depends = pavucontrol
	depends = pasystray
	depends = unclutter-xfixes-git
	depends = lxappearance-gtk3
	depends = qt5ct
	depends = qt5-styleplugins
	depends = fontconfig
	depends = walsh
	depends = alacritty
	depends = xterm
	depends = ranger
	depends = htop
	depends = mailcap
	depends = unzip
	depends = zip
	depends = pass
	depends = pwgen
	depends = gnupg
	depends = qutebrowser
	depends = netsurf
	depends = weechat
	depends = neomutt
	depends = newsboat
	depends = tuir
	depends = neofetch
	depends = mpd
	depends = mpc
	depends = ncmpcpp
	depends = mpnotd-zsh
	depends = mpv
	depends = feh
	depends = ffmpeg
	depends = imagemagick
	depends = urlscan
	depends = maim
	depends = zathura
	depends = zathura-pdf-mupdf

pkgname = penguin-desktop-defaults
	pkgdesc = Penguin default config files
	depends = penguin-desktop
	depends = penguin-desktop-scripts
	depends = penguin-desktop-themes
	depends = zsh-autosuggestions
	depends = zsh-completions
	depends = zsh-syntax-highlighting
	depends = bash-completion

pkgname = penguin-desktop-scripts
	pkgdesc = Penguin desktop scripts
	optdepends = mpnotd-zsh: mpd notifications

pkgname = penguin-desktop-themes
	pkgdesc = Penguin (Antsy) themes
	depends = antsy-gtk-theme
	depends = antsy-icon-theme
	depends = antsy-wallpaper
	depends = xcursor-openzone
	depends = ttf-hack
	depends = nerd-fonts-hack
	depends = noto-fonts-emoji

