pkgbase = penguin-system
	pkgdesc = Penguin System
	pkgver = 4
	pkgrel = 1
	url = https://penguin.fyi/
	arch = any
	license = MIT
	source = autostart-mpd-notifications
	source = autostart-pcmanfm
	source = autostart-picom
	source = autostart-polkit
	source = autostart-update-notify
	source = autostart-urxvtd
	source = autostart-user-dirs
	source = autostart-wallpaper-shuffler
	source = config-awesome
	source = config-awesome-theme
	source = config-gtk2
	source = config-gtk3
	source = config-picom
	source = config-qt5ct
	source = config-qutebrowser
	source = config-roficonfig
	source = config-rofitheme
	source = config-sudoers
	source = config-tmuxconf
	source = config-xresources
	source = config-xsession
	source = config-zshrc
	source = config-zshrc-prompt
	source = LICENSE
	source = patch-issue-ascii
	source = patch-lightdm-gtk-greeter.conf
	source = patch-makepkg.conf
	source = patch-pacman.conf
	source = patch-reflector.conf
	source = patch-useradd-shell
	source = penguin-base.install
	source = penguin-desktop.install
	source = penguin-config-patch.hook
	source = penguin-config-patch.sh
	source = README.md
	source = script-mpd-notifications
	source = script-screen-capture
	source = script-touchpad-toggle
	source = script-update-notify
	source = script-wallpaper-shuffler
	md5sums = 246b3ce2e6961d5c4ee287d51429a077
	md5sums = 752af9301a1fea60bb20f6979d272861
	md5sums = 3f9e6a050a80a07a29494117dce2d3de
	md5sums = 6529d3ddd2c2a6dff2845c57807ff058
	md5sums = 41fe7b2595064d3b2b8f595b286f125b
	md5sums = 2f9890fb08efab9a5b4568ef1639af7d
	md5sums = 1797448eebfde434e6a796f5146342fe
	md5sums = b89596c0ff513eb3f077e6ab89cc0fd4
	md5sums = 804776e11ac733b9fea9742597087438
	md5sums = d6eeddeffb0e2314b1851c53bae628e8
	md5sums = 2e99a6c2744cdcbe1075741806d6c62f
	md5sums = 1e4de6dbb641a532f47a62b8c4c76e68
	md5sums = 0c86433ee520ae3e4e3b62d46eafe7a7
	md5sums = 5c45a57289ab8192700ce374e94cad7a
	md5sums = 1c715063118b33ea059af7affb4cfec1
	md5sums = e064654a2b48cc1e888be65f73b9a463
	md5sums = 98e6730a868d7fcd160a2b1e2167e96c
	md5sums = 25b151ccac832c4b8333222106d16b8c
	md5sums = bbeffe2ceb7b01946d87ed52229ff909
	md5sums = c110b0306ee8ded1bf5ae5c2fb92eca3
	md5sums = 883b1a53fad0204401c7e4b376c3a6f5
	md5sums = 0364cda8c7b962de71d9b7a86a7bd54d
	md5sums = 7a22d5e966e64053fc4307c105431502
	md5sums = a55d1384569349075b5a6a5c61af5c17
	md5sums = 044f00bcb352b273e841ecbf3836b705
	md5sums = 2432e56f71823c95c6711c1634ab8005
	md5sums = c982fab7e21e835cfd6848f86657a22f
	md5sums = 257f3fd773cfac35ed40e2d5f885a72f
	md5sums = 08776fecbc01ca790ca20838943b0897
	md5sums = 79c690fc4d1faf1aa317cbe68246097f
	md5sums = 1a9558bc57b702728c8f868af891dd8c
	md5sums = 7c47a6806061ccae3f5484973a00a0c6
	md5sums = e2dfdda69b13af5ab8b9468f9b6148b7
	md5sums = cdb56c7933f12c4b69180abba141ab5d
	md5sums = af4ccc3c66689351d87358795f13e59c
	md5sums = 9f5f46214dffd8b04fd43fcb7487605c
	md5sums = c73c5fa56f6bd1ad6b4e0b5ee90ccd6e
	md5sums = 41ddb2af63897120737119aaf45c9485
	md5sums = eb25c430d8816615d9d0f0e23aac19d2
	md5sums = 3158273df62e3de8a8c06dc88bd5adfd

pkgname = penguin-base
	pkgdesc = Penguin Base System
	install = penguin-base.install
	depends = base
	depends = linux-firmware
	depends = grub
	depends = efibootmgr
	depends = f2fs-tools
	depends = networkmanager
	depends = openssh
	depends = ufw
	depends = fail2ban
	depends = zsh
	depends = vim
	depends = curl
	depends = tmux
	depends = git
	depends = patch
	depends = sudo
	depends = man-db
	depends = man-pages

pkgname = penguin-desktop
	pkgdesc = Penguin Desktop
	install = penguin-desktop.install
	depends = penguin-base
	depends = penguin-defaults
	depends = penguin-scripts
	depends = xorg-server
	depends = xorg-xset
	depends = xorg-xsetroot
	depends = xorg-xrdb
	depends = xorg-xrandr
	depends = xorg-xdpyinfo
	depends = lightdm
	depends = lightdm-gtk-greeter
	depends = lightdm-gtk-greeter-settings
	depends = light-locker
	depends = awesome-git
	depends = awesome-freedesktop-git
	depends = dex
	depends = xdg-user-dirs
	depends = xdg-utils
	depends = pcmanfm-gtk3
	depends = gvfs
	depends = xarchiver
	depends = picom
	depends = rofi
	depends = rofi-pass
	depends = xclip
	depends = network-manager-applet
	depends = blueman
	depends = polkit-gnome
	depends = xfce4-power-manager
	depends = pulseaudio
	depends = pulseaudio-alsa
	depends = pavucontrol
	depends = pasystray
	depends = lxappearance-gtk3
	depends = qt5ct
	depends = qt5-styleplugins
	depends = fontconfig
	depends = rxvt-unicode-cvs-patched-wideglyphs
	depends = xterm
	depends = ranger
	depends = htop
	depends = mailcap
	depends = qutebrowser
	depends = weechat
	depends = neomutt
	depends = newsboat
	depends = tuir
	depends = mpd
	depends = mpc
	depends = ncmpcpp
	depends = mpv
	depends = cava
	depends = zathura
	depends = zathura-pdf-mupdf
	depends = feh
	depends = ffmpeg
	depends = imagemagick
	depends = maim
	depends = curl
	depends = wget
	depends = rsync
	depends = w3m
	depends = urlscan
	depends = vi
	depends = bat
	depends = jq
	depends = fzf
	depends = dialog
	depends = fd
	depends = tree
	depends = unzip
	depends = zip
	depends = lsof
	depends = pass
	depends = pwgen
	depends = gnupg
	depends = zsh-autosuggestions
	depends = zsh-completions
	depends = zsh-syntax-highlighting
	depends = bash-completion
	depends = ipython
	depends = python-black
	depends = python-isort
	depends = eslint
	depends = python-pyflakes
	depends = flake8
	depends = autopep8
	depends = yapf
	depends = python-virtualenv
	depends = python-virtualenvwrapper
	depends = cmake
	depends = ctags
	depends = shellcheck-bin
	depends = luacheck
	depends = github-cli
	depends = pacutils
	depends = pacman-contrib
	depends = reflector
	depends = antsy-gtk-theme
	depends = antsy-icon-theme
	depends = antsy-wallpaper
	depends = xcursor-openzone
	depends = ttf-hack
	depends = nerd-fonts-hack
	depends = noto-fonts-emoji

pkgname = penguin-defaults
	pkgdesc = Penguin Default Config (Antsy)

pkgname = penguin-scripts
	pkgdesc = Penguin Scripts

