pkgbase = penguin-system
	pkgdesc = Penguin System
	pkgver = 0.0.2
	pkgrel = 1
	url = https://penguin.fyi/
	arch = any
	license = MIT
	source = penguin-base.install
	source = penguin-desktop.install
	source = penguin-config-patch.hook
	source = penguin-config-patch.sh
	source = patch-pacman.conf
	source = patch-reflector.conf
	source = patch-useradd-shell
	source = patch-issue-ascii
	source = patch-lightdm-gtk-greeter.conf
	source = etc-sudoers-wheel
	source = etc-skel-Xresources
	source = etc-skel-xsession
	source = etc-skel-zshrc
	source = etc-skel-zshprompt
	source = etc-skel-i3gaps
	source = etc-skel-i3status
	source = etc-skel-roficonfig
	source = etc-skel-rofitheme
	source = etc-skel-gtk2
	source = etc-skel-gtk3
	source = etc-skel-qt5ct
	source = etc-skel-dunstrc
	source = etc-skel-picom
	source = etc-skel-fehbg
	source = etc-skel-termite
	source = etc-skel-tmuxconf
	source = etc-skel-qutebrowser
	source = README.md
	source = LICENSE
	md5sums = a345278d2945fad6e95ca3e7ed7de9b3
	md5sums = 7c47a6806061ccae3f5484973a00a0c6
	md5sums = e2dfdda69b13af5ab8b9468f9b6148b7
	md5sums = cdb56c7933f12c4b69180abba141ab5d
	md5sums = 257f3fd773cfac35ed40e2d5f885a72f
	md5sums = 08776fecbc01ca790ca20838943b0897
	md5sums = 79c690fc4d1faf1aa317cbe68246097f
	md5sums = 044f00bcb352b273e841ecbf3836b705
	md5sums = 305f7b615e8027001629ea8e4ccf3333
	md5sums = 25b151ccac832c4b8333222106d16b8c
	md5sums = 6633e7c31a10df3c1ac161e02a3796e5
	md5sums = 4d6f3d7fd124113de022516032c88695
	md5sums = 0364cda8c7b962de71d9b7a86a7bd54d
	md5sums = 7a22d5e966e64053fc4307c105431502
	md5sums = 8d74272454cef990b0cb184c7ce54bba
	md5sums = 1969e07d9c5d0336c3d463d064a24e5b
	md5sums = e064654a2b48cc1e888be65f73b9a463
	md5sums = 98e6730a868d7fcd160a2b1e2167e96c
	md5sums = 2e99a6c2744cdcbe1075741806d6c62f
	md5sums = d128ec12cb99a770aab409cd17a60ad0
	md5sums = 5c45a57289ab8192700ce374e94cad7a
	md5sums = f8c6acdb4bd14a1350f38c60eeba56f4
	md5sums = 0c86433ee520ae3e4e3b62d46eafe7a7
	md5sums = a5df1df2f25f103025ea8967c67af43a
	md5sums = 4233555718381b3dffc48ba84977e52a
	md5sums = bbeffe2ceb7b01946d87ed52229ff909
	md5sums = 1c715063118b33ea059af7affb4cfec1
	md5sums = af4ccc3c66689351d87358795f13e59c
	md5sums = a55d1384569349075b5a6a5c61af5c17

pkgname = penguin-base
	pkgdesc = Penguin Base System
	install = penguin-base.install
	depends = base
	depends = linux-firmware
	depends = grub
	depends = efibootmgr
	depends = dhcpcd
	depends = openssh
	depends = ufw
	depends = fail2ban
	depends = zsh
	depends = vim
	depends = curl
	depends = tmux
	depends = git
	depends = patch
	depends = sudo
	depends = man-db
	depends = man-pages

pkgname = penguin-desktop
	pkgdesc = Penguin Desktop packages
	install = penguin-desktop.install
	depends = penguin-base
	depends = xorg-server
	depends = xorg-xset
	depends = xorg-xrdb
	depends = xorg-xrandr
	depends = xorg-xdpyinfo
	depends = lightdm
	depends = lightdm-gtk-greeter
	depends = lightdm-gtk-greeter-settings
	depends = i3-gaps
	depends = i3status
	depends = i3lock-color-git
	depends = unclutter-xfixes-git
	depends = rofi
	depends = picom
	depends = xclip
	depends = numlockx
	depends = xss-lock
	depends = ffmpeg
	depends = imagemagick
	depends = feh
	depends = maim
	depends = bc
	depends = rofi-pass
	depends = multilockscreen
	depends = pulseaudio
	depends = pulseaudio-alsa
	depends = pavucontrol
	depends = blueman
	depends = polkit-gnome
	depends = dunst
	depends = udiskie
	depends = termite
	depends = xterm
	depends = ranger
	depends = htop
	depends = mailcap
	depends = qutebrowser
	depends = neomutt
	depends = newsboat
	depends = mpd
	depends = mpc
	depends = ncmpcpp
	depends = mpv
	depends = zathura
	depends = zathura-pdf-mupdf
	depends = curl
	depends = wget
	depends = w3m
	depends = urlscan
	depends = vi
	depends = bat
	depends = jq
	depends = fzf
	depends = dialog
	depends = fd
	depends = tree
	depends = unzip
	depends = zip
	depends = lsof
	depends = weechat
	depends = pass
	depends = pwgen
	depends = gnupg
	depends = zsh-autosuggestions
	depends = zsh-completions
	depends = zsh-syntax-highlighting
	depends = bash-completion
	depends = ipython
	depends = python-black
	depends = python-isort
	depends = eslint
	depends = python-pyflakes
	depends = flake8
	depends = autopep8
	depends = yapf
	depends = python-virtualenv
	depends = python-virtualenvwrapper
	depends = cmake
	depends = ctags
	depends = shellcheck
	depends = github-cli
	depends = lxappearance
	depends = qt5ct
	depends = qt5-styleplugins
	depends = fontconfig
	depends = pacutils
	depends = pacman-contrib
	depends = reflector

pkgname = penguin-defaults
	pkgdesc = Penguin Default Theme (Antsy)
	depends = penguin-desktop
	depends = antsy-gtk-theme
	depends = antsy-icon-theme
	depends = antsy-wallpaper
	depends = xcursor-openzone
	depends = ttf-hack
	depends = nerd-fonts-hack
	depends = noto-fonts-emoji

