pkgbase = nightfall-gtk-theme
	pkgdesc = Nightfall GTK Theme
	pkgver = 0.2
	pkgrel = 1
	url = https://github.com/jeffmhubbard/nightfall-gtk-theme
	arch = any
	license = MIT
	depends = gtk-engine-murrine
	source = https://github.com/jeffmhubbard/nightfall-gtk-theme/archive/refs/tags/v0.2.tar.gz
	sha256sums = eb06f8e95e1ddb3315cfc3f54e278fa42d083a8a00e38110dbf2506c6ebcc4f4

pkgname = nightfall-gtk-theme
