pkgbase = penguin-desktop-themes
	pkgdesc = Themes, icons, and fonts for the Penguin Desktop
	pkgver = 7
	pkgrel = 1
	url = https://penguin.fyi/
	arch = any
	license = MIT
	depends = ngui-blue-gtk-theme
	depends = ngui-darkblue-gtk-theme
	depends = ngui-blue-icon-theme
	depends = ngui-cyan-gtk-theme
	depends = ngui-darkcyan-gtk-theme
	depends = ngui-cyan-icon-theme
	depends = ngui-green-gtk-theme
	depends = ngui-darkgreen-gtk-theme
	depends = ngui-green-icon-theme
	depends = ngui-pink-gtk-theme
	depends = ngui-darkpink-gtk-theme
	depends = ngui-pink-icon-theme
	depends = noto-fonts-emoji
	depends = ttf-bitstream-vera
	depends = ttf-dejavu
	depends = ttf-hack
	depends = ttf-nerd-fonts-symbols
	depends = xcursor-neutral
	depends = xdecorator
	source = patch-lightdm-gtk-greeter.conf
	source = penguin-themes-patch.hook
	source = penguin-logo.svg
	source = LICENSE
	source = README.md
	md5sums = b1a209dcfb5831aa8000fe23644713f0
	md5sums = 16fc30a4ba3261b2b326763b0289e69d
	md5sums = ed9e2d59fa012b888e9e32d7ff538d1c
	md5sums = 32faed122940835fb3401d601b2d1e85
	md5sums = 6cf2030df59227fd5b9f3db73a571e25

pkgname = penguin-desktop-themes
