pkgbase = penguin-desktop-config
	pkgdesc = Penguin Desktop custom config files
	pkgver = 0.1.2
	pkgrel = 1
	url = https://penguin.fyi
	arch = any
	license = MIT
	replaces = penguin-desktop-dotfiles
	source = https://github.com/penguin-fyi/desktop-config/archive/refs/tags/v0.1.2.tar.gz
	md5sums = 32a262342be8806c398fda9522da674a

pkgname = penguin-desktop-config
