pkgbase = antsy-icon-theme
	pkgdesc = Antsy Icon theme
	pkgver = 0.2
	pkgrel = 2
	url = https://github.com/jeffmhubbard/antsy-icon-theme
	arch = any
	license = GPL
	depends = hicolor-icon-theme
	depends = gnome-icon-theme
	source = https://github.com/jeffmhubbard/antsy-icon-theme/archive/v0.2.tar.gz
	sha256sums = cd957968ded4d233144505b58d935d4a20cf87ebdc0317bede2e37312a6d83f1

pkgname = antsy-icon-theme

