pkgbase = antsy-wallpaper
	pkgdesc = Antsy wallpaper collection
	pkgver = 0.4
	pkgrel = 1
	url = https://github.com/jeffmhubbard/antsy-wallpaper/
	arch = any
	license = MIT
	optdepends = feh: set desktop background
	source = https://github.com/jeffmhubbard/antsy-wallpaper/archive/v0.4.tar.gz
	sha256sums = a3091a80946c1847b34e7fa9d2517f82060abff63ec6dc5f30c675377ec9ec41

pkgname = antsy-wallpaper

