pkgbase = idaeus-icon-theme
	pkgdesc = Idaeus Icon Theme
	pkgver = 0.1
	pkgrel = 1
	url = https://github.com/jeffmhubbard/idaeus-icon-theme
	arch = any
	license = GPL
	source = https://github.com/jeffmhubbard/idaeus-icon-theme/archive/v0.1.tar.gz
	sha256sums = fc1e7ccc3f8e18c7f8df81c2482c4509c945609ba7200b92fd56e9c42444005a

pkgname = idaeus-icon-theme
