pkgbase = nightfall-icon-theme
	pkgdesc = Penguin Nightfall theme
	pkgver = 0.1
	pkgrel = 2
	url = https://github.com/jeffmhubbard/nightfall-icon-theme
	arch = any
	license = GPL
	source = https://github.com/jeffmhubbard/nightfall-icon-theme/archive/v0.1.tar.gz
	sha256sums = 9bb37bf919c7e331929c0fb4e4bdfec1942438c81753a7e7e92793ac80064af1

pkgname = nightfall-icon-theme
