pkgbase = penguin-desktop-extras
	pkgdesc = Extra scripts and tools for Penguin Desktop
	pkgver = 2
	pkgrel = 2
	url = https://penguin.fyi/
	arch = any
	license = MIT
	depends = mpnotd-zsh
	depends = walsh
	depends = rofi-pass
	depends = rofi-calc
	depends = clipmenu
	depends = maim
	replaces = penguin-desktop-scripts
	source = autostart-update-notify
	source = LICENSE
	source = README.md
	source = script-screen-capture
	source = script-touchpad-toggle
	source = script-update-notify
	md5sums = 33fbf0ba82c9dd2abe34e616b3ae3ff8
	md5sums = a55d1384569349075b5a6a5c61af5c17
	md5sums = 5d0e5b1062bd73acec5c64348a7821f8
	md5sums = c73c5fa56f6bd1ad6b4e0b5ee90ccd6e
	md5sums = 41ddb2af63897120737119aaf45c9485
	md5sums = eb39c2dcdeb05524ba23729fac9120e0

pkgname = penguin-desktop-extras

