pkgbase = penguin-dev-tools
	pkgdesc = Penguin Developer Tools
	pkgver = 2
	pkgrel = 1
	url = https://penguin.fyi/
	arch = any
	license = MIT
	depends = devtools
	depends = archiso
	depends = pacutils
	depends = pacman-contrib
	depends = aurutils
	depends = bat
	depends = jq
	depends = fzf
	depends = dialog
	depends = fd
	depends = tree
	depends = lsof
	depends = rsync
	depends = shellcheck-bin
	depends = luacheck
	depends = cmake
	depends = eslint
	depends = ctags
	depends = ipython
	depends = python-virtualenv
	depends = python-virtualenvwrapper
	depends = python-black
	depends = python-isort
	depends = python-pyflakes
	depends = flake8
	depends = autopep8
	depends = yapf
	optdepends = gimp: artwork and icons
	optdepends = gitea-tea: interact with git repo
	optdepends = github-cli: interact with git repo
	optdepends = inkscape: artwork and icons
	optdepends = oomox: theme and icon generator
	optdepends = virtualbox: test Penguin iso
	optdepends = vivid: generate LS_COLORS
	source = LICENSE
	source = README.md
	source = setup_zsh
	source = setup_vim
	source = setup_tmux
	source = setup_aurutils
	md5sums = 76f1b81b2757cd0126aa0142a588927b
	md5sums = ca1430c40cb7725b39455151b933239a
	md5sums = 4b224ce077c844610dfe2d18b28bf992
	md5sums = a05639981b381484cf6717f41d4bccb4
	md5sums = e4fab958247a96249c4b575f8c3e223e
	md5sums = 242a2293fc25d7936cfba5c165b44782

pkgname = penguin-dev-tools

