pkgbase = penguin-dev-tools
	pkgdesc = Penguin Developer Tools
	pkgver = 1
	pkgrel = 1
	url = https://penguin.fyi/
	arch = any
	license = MIT
	depends = devtools
	depends = archiso
	depends = pacutils
	depends = pacman-contrib
	depends = gitea-tea
	depends = github-cli
	depends = shellcheck-bin
	depends = luacheck
	depends = cmake
	depends = eslint
	depends = ctags
	depends = ipython
	depends = python-virtualenv
	depends = python-virtualenvwrapper
	depends = python-black
	depends = python-isort
	depends = python-pyflakes
	depends = flake8
	depends = autopep8
	depends = yapf
	optdepends = gitea-tea: interact with git repo
	optdepends = github-cli: interact with git repo
	optdepends = oomox: theme and icon generator
	optdepends = virtualbox: test Penguin iso
	source = LICENSE
	source = README.md
	source = setup_zsh
	source = setup_vim
	source = setup_tmux
	source = setup_aurutils
	md5sums = 76f1b81b2757cd0126aa0142a588927b
	md5sums = 6595449a8aa48cf061102457a2f7cfab
	md5sums = f0d222581916fb7982f84a67f718ed1e
	md5sums = a05639981b381484cf6717f41d4bccb4
	md5sums = e4fab958247a96249c4b575f8c3e223e
	md5sums = 9ac579394722de7242d6b8ece1f96f7e

pkgname = penguin-dev-tools

