pkgbase = penguin-dev-tools
	pkgdesc = Penguin Developer Tools
	pkgver = 4
	pkgrel = 1
	url = https://penguin.fyi/
	arch = any
	license = MIT
	depends = archiso
	depends = aurutils
	depends = autopep8
	depends = bat
	depends = cmake
	depends = ctags
	depends = devtools
	depends = eslint
	depends = fd
	depends = flake8
	depends = fzf
	depends = ipython
	depends = jq
	depends = lsof
	depends = luacheck
	depends = namcap
	depends = pacman-contrib
	depends = pacutils
	depends = python-black
	depends = python-isort
	depends = python-pyflakes
	depends = python-virtualenv
	depends = python-virtualenvwrapper
	depends = rsync
	depends = shellcheck-bin
	depends = tree
	depends = yapf
	optdepends = gimp: artwork and icons
	optdepends = gitea-tea: interact with gitea repo
	optdepends = github-cli: interact with github repo
	optdepends = inkscape: artwork and icons
	optdepends = oomox: theme and icon generator
	optdepends = virtualbox: test Penguin iso
	optdepends = vivid: generate LS_COLORS
	source = LICENSE
	source = README.md
	source = setup_zsh
	source = setup_vim
	source = setup_tmux
	source = setup_aurutils
	md5sums = 76f1b81b2757cd0126aa0142a588927b
	md5sums = 2802f1d2d0eef30e09a27d263a6d25f5
	md5sums = fd6dfa64fbee41f263861cbc8f1d3c44
	md5sums = 93ccbe75288c53abe0c6ff09d7a06015
	md5sums = af216b6559a74070a513ecda18afea0f
	md5sums = d210ae11da07d3ff0e19194330e8351a

pkgname = penguin-dev-tools

