pkgbase = penguin-base
	pkgdesc = The Penguin base system
	pkgver = 5
	pkgrel = 2
	url = https://penguin.fyi/
	arch = any
	license = MIT
	depends = base
	depends = curl
	depends = efibootmgr
	depends = fail2ban
	depends = git
	depends = gnupg
	depends = grub
	depends = linux-firmware
	depends = man-db
	depends = man-pages
	depends = networkmanager
	depends = openssh
	depends = pass
	depends = patch
	depends = pwgen
	depends = sudo
	depends = tmux
	depends = ufw
	depends = unzip
	depends = vi
	depends = neovim
	depends = w3m
	depends = zip
	depends = zsh
	source = config-mirrorlist-penguin
	source = config-sudoers
	source = patch-pacman.conf
	source = patch-useradd-shell
	source = penguin-base.install
	source = penguin-config-patch.hook
	source = penguin-config-patch.sh
	source = LICENSE
	source = README.md
	md5sums = 03f473be27e35e6d3e79995ffbe62ab1
	md5sums = 25b151ccac832c4b8333222106d16b8c
	md5sums = d7ae568291619ce1d95aaf78e6460a14
	md5sums = 79c690fc4d1faf1aa317cbe68246097f
	md5sums = fc1c0ee49963670eab7848263695b928
	md5sums = 8dd22dd9349183554aa78047af3079c9
	md5sums = ab3dd94b99336d7b4f9dafeed7413d95
	md5sums = 32faed122940835fb3401d601b2d1e85
	md5sums = 25bee56042f5556a1b307096dfcaade3

pkgname = penguin-base
	install = penguin-base.install
