pkgbase = penguin-base
	pkgdesc = The Penguin base system
	pkgver = 2
	pkgrel = 1
	url = https://penguin.fyi/
	arch = any
	license = MIT
	depends = base
	depends = curl
	depends = efibootmgr
	depends = fail2ban
	depends = git
	depends = gnupg
	depends = grub
	depends = linux-firmware
	depends = man-db
	depends = man-pages
	depends = networkmanager
	depends = openssh
	depends = pass
	depends = patch
	depends = pwgen
	depends = reflector
	depends = sudo
	depends = tlp
	depends = tmux
	depends = ufw
	depends = unzip
	depends = vi
	depends = vim
	depends = w3m
	depends = zip
	depends = zsh
	source = config-sudoers
	source = LICENSE
	source = patch-grub-distro
	source = patch-issue-ascii
	source = patch-makepkg.conf
	source = patch-pacman.conf
	source = patch-reflector.conf
	source = patch-useradd-shell
	source = penguin-base.install
	source = penguin-config-patch.hook
	source = penguin-config-patch.sh
	source = README.md
	md5sums = 25b151ccac832c4b8333222106d16b8c
	md5sums = a55d1384569349075b5a6a5c61af5c17
	md5sums = 41440c82d4b6c2d64e496ad4a1782778
	md5sums = 044f00bcb352b273e841ecbf3836b705
	md5sums = c982fab7e21e835cfd6848f86657a22f
	md5sums = 257f3fd773cfac35ed40e2d5f885a72f
	md5sums = 08776fecbc01ca790ca20838943b0897
	md5sums = 79c690fc4d1faf1aa317cbe68246097f
	md5sums = 65800f60c55f2bdd4152b9c7003c045e
	md5sums = 08e127a575cc08cab68ed069a86cf5d6
	md5sums = cdb56c7933f12c4b69180abba141ab5d
	md5sums = 37607d5c9d06b11da0f6a4a5d4b38990

pkgname = penguin-base
	install = penguin-base.install

