pkgbase = xed
	pkgdesc = A small and lightweight text editor. X-Apps Project.
	pkgver = 3.2.2
	pkgrel = 2
	url = https://github.com/linuxmint/xed
	arch = x86_64
	arch = aarch64
	groups = x-apps
	license = GPL
	makedepends = meson
	makedepends = samurai
	makedepends = gobject-introspection
	makedepends = intltool
	makedepends = itstool
	depends = gspell
	depends = gtksourceview4
	depends = libpeas
	depends = xapps
	source = xed-3.2.2.tar.gz::https://github.com/linuxmint/xed/archive/3.2.2.tar.gz
	sha256sums = 7f0a1a8abc85da66980354aa033c1215eb7bf4e23e71d14b6ae9a28956352632
	b2sums = 38481f68ba5279b7e1af361a783700d301b3e8d830c66b78e178283ae9e804ad2632ad6942d6367d02a1c084cfd69d3eb8df8702f0a7611ab94046e7ec9d7e47

pkgname = xed
