pkgbase = system78-icon-theme
	pkgdesc = Penguin System78 theme
	pkgver = 0.1
	pkgrel = 2
	url = https://github.com/jeffmhubbard/system78-icon-theme
	arch = any
	license = GPL
	source = https://github.com/jeffmhubbard/system78-icon-theme/archive/v0.1.tar.gz
	sha256sums = 048cbd26edf197c98dca525629f5ccb72feb4631e9cba11ce58bf369f31c0bd2

pkgname = system78-icon-theme
