pkgbase = xdecorator
	pkgdesc = xsettingsd theme switcher
	pkgver = 0.0.2
	pkgrel = 1
	url = https://penguin.fyi/
	arch = any
	license = MIT
	depends = xsettingsd
	depends = python-gobject
	source = xdecorator
	source = xdecorator.desktop
	source = LICENSE
	source = README.md
	md5sums = f2ea8c2f2ccc1eccc8bab6649444f470
	md5sums = e93256de7d5a7561e1e955b38b4eee56
	md5sums = a8bd8e8b66169542c21de3c7633be00e
	md5sums = e7dd940a79567e3d1e046a34c2afb7d9

pkgname = xdecorator
