pkgbase = penguin-desktop-awesome
	pkgdesc = Penguin Awesome Desktop
	pkgver = r3.ef902fa
	pkgrel = 1
	url = https://penguin.fyi
	arch = any
	license = MIT
	makedepends = git
	depends = penguin-desktop-base
	source = git+https://git.linuxit.us/spider/awesome.git
	md5sums = SKIP

pkgname = penguin-desktop-awesome
