pkgbase = penguin-desktop-awesome
	pkgdesc = Penguin Desktop (nGUI) AwesomeWM theme
	pkgver = r8.c17ad29
	pkgrel = 1
	url = https://penguin.fyi
	arch = any
	license = MIT
	makedepends = git
	depends = awesome-git
	source = git+https://github.com/penguin-fyi/awesome-config.git
	md5sums = SKIP

pkgname = penguin-desktop-awesome
